.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#progressBar {
  height: 5px;
  background-color: #35b44f;
  transition: width 0.4s ease-in-out;
}

#output {
  width: 100%;
}

.show-seed {
  display: none;
}

.show-leech {
  display: inline;
}

.is-seed .show-seed {
  display: inline;
}

.is-seed .show-leech {
  display: none;
}

#status {
  color: #fff;
  font-size: 17px;
  padding: 5px;
}

#status code {
  font-size: 90%;
  font-weight: 700;
  margin-left: 3px;
  margin-right: 3px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}

a:link,
a:visited {
  color: #30a247;
  text-decoration: none;
}
